@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
.sec-font{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}
/* nav styles */
.bg{
    background: linear-gradient(rgba(17, 17, 17, 1), rgba(28, 27, 27, 1));
}
.bg2{
    background-color: #000000;
}
.bg3{
    background-color: rgba(34, 34, 34, 1);
}
.gym-name{
    font-size: 1.5em;
    font-weight: 800;
    color: #E6533C;
}
.nav-bar{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-left: 0px;
}
.nav-items{
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    padding: 4px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
}
.hamburger{
    display: none;
}
.btn-primary{
    margin-left: 0px;
    background-color: #E6533C;
    padding: 4px 16px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 16px;
    border: none;
}
.btn-primary-2{
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 15px;
    color: white;
    background-color: #E6533C;
    padding: 10px 35px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 16px;
    border: none;
}
.btn-primary-3{
    margin-top: 15px;
    margin-left: 0px;
    color: white;
    background-color: #000000;
    padding: 10px 35px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 16px;
    border: 1px solid white;
}
.btn-primary-4{
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 15px;
    color: white;
    background-color: #E6533C;
    padding: 20px 50px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 25px;
    border: none;
}

/* banner */
.banner{
    display: flex;
    justify-content: center;

}
.banner-title{
    margin-top: 60px;
    position: static;
    width: 52%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;   
}
.title-1{
    font-size: 4.6rem;
    font-weight: bolder;
    color: white;
    margin-bottom: 0;
}
.banner-des{
    margin-top: 25px;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.pic{
    display: flex;
}
#first-text{
    font-size: 40px;
    font-weight: bolder;
    color: white;
}
#next-text{
    font-size: 13px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
#upper-btn{
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: -125px;
    margin-top: 140px;
}
#lower-btn{
    background-color: rgba(48, 48, 48, 0.54);
    margin-left: -460px;
    margin-top: 440px;
    padding: 0px 35px;
}
.fa-solid,.fa-circle-play{
font-size: 30px;
margin-right: 5px;
}
/* Body styles */
.b1-title{
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.b1-des{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 55px;
   
}
.b2-des{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 0.3px;
    line-height: 24px;
    text-align: justify;
}
.intro{
    margin-top: 100px;
    text-align: center;
}
.t2-2{
    color: #fff;
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: center;
    margin-right: 10px;
}
.des-2{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
}

.round-pic{
    border-radius: 50%;
    margin-left: 25px;
    border: 4px solid rgb(32, 31, 31);

}
.container1{
    width: 1020px;
    justify-items: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 100px;
}
.body2{
    max-width: 1020px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
}
.content2{
    margin-left: 40px;
    margin-top: 40px;
    margin-right: 80px;
    margin-bottom: 40px;
}
.img-cont{
    margin-left: 40px;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    border-radius: 20px;
}
.t-pic{
    border-radius: 25px;
}
/* Responsive for mobile*/
@media screen and (max-width: 576px) {
    .nav-bar{
        width: 90%;
        align-items: stretch;
    }
    .nav-items{
        display: none;
    }
    .hamburger{
        display: flex;
        align-items: center;
        font-size: 24px;
    }
    .banner{
       flex-direction: column;
    
    }
    .banner-title{
        margin-top: 60px;
        position: static;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0px;   
    }
    .title-1{
        width: 90%;
        font-size: 2.6rem;
        font-weight: 700;
        color: white;
        margin-bottom: 0;
        margin-left: 30px;
    }
    .banner-des{
        margin-top: 18px;
        margin-left: 30px;
       
        font-size: 1rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
    }
    .banner-button{
        display: flex;
        padding-left: 30px;
    }
    .pic{
        margin: 0 auto;
        display: flex;
        margin-left: 50px;
    }
    .all-btn{
        display: flex;
    }
    #upper-btn{
        background-color: rgba(255, 255, 255, 0.1);
        margin-right: 50px;
        margin-bottom: 100px;
    }
    #lower-btn{
        background-color: rgba(48, 48, 48, 0.54);
        margin-left: -440px;
        margin-top: 260px;
        padding: 0px 35px;
    }
    .r-banner{
     display: flex;
    }
    .container1{
        width: 90%;
        flex-direction: column;
        align-items: center;
    }
    .items{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .round-pic{
        margin-left: 100px;
    }
    .body2{
       flex-direction: column;
       align-items: center;
     
    }
    .btn-primary-4{
        
        padding: 20px 140px;
        font-size: 1.5rem;
        margin-left: 20px;
        
    }
    .content2{
        margin-left: 60px;
        margin-top: 40px;
        margin-right: 60px;
        margin-bottom: 30px;
    }

    }
    
